<!DOCTYPE html>
  html(lang="en")
    head
      meta(charset='utf-8')
      title Winterheart
      meta(name='description' content='Winterheart is a .... Jørn Rønnau')
      meta(name='viewport' content='width=device-width, initial-scale=1')
      link(href='../css/extraFonts.css' rel='stylesheet')
      link(href='../css/grid.css' rel='stylesheet')
      link(href='../css/style.css' rel='stylesheet')
      link(href='../css/adminStyle.css' rel='stylesheet')
      link(rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png')
      link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
      link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
      link(rel='manifest' href='/site.webmanifest')
      link(rel='mask-icon' href='/safari-pinned-tab.svg' color='#5bbad5')
      meta(name='msapplication-TileColor' content='#00a300')
      meta(name='theme-color' content='#ffffff')
      script(src='https://unpkg.com/@supabase/supabase-js')
      script(src='../js/adminSingleUserApp.js' type='module')

    body
      #adminOverlay.shown
        .adminOverlayInside
          .Grid.Grid--gutters.Grid--full.large-Grid--fit
            .Grid-cell
              h2 Admin &rarr; Edit user 
          .Grid.Grid--gutters.Grid--full.large-Grid--fit
            .Grid-cell.g1of1
              p
                | &larr;&nbsp;
                a(href='/adminUsers') Back to Users overview
          .Grid.Grid--gutters.Grid--full.large-Grid--fit
            .Grid-cell.g1of1
              .fullWidthFormWrapper
                form(id="formSingle")
                  // id
                  .rowDouble
                    .col-25
                      label(for="id") id:
                    .col-75
                      input(name='id' id="id" type='text' placeholder="xx" disabled)
                    .col-25
                      label(for='usertype') UserType
                    .col-75
                      input(name='usertype' id="userType" type='text' placeholder='Anonymous' disabled)
                  // created_at
                  .row
                    .col-25
                      label(for='created_at') created_at: 
                    .col-75
                      input(name='created_at' id="created_at" type='text' placeholder="2022-11-23 13:52:09+00" disabled)
                  // Email
                  .row
                    .col-25
                      label(for='email') Email
                    .col-75
                      input(name='email' id="email" type='text' placeholder='Email here')
                  .row
                    .col-25
                      label(for='flagged') Flagged
                    .col-75
                      input(name='flagged' id="flagged" type='checkbox')
                  // submit
                  button.btnWrapper(type='submit') Save user

      script. 
        let data = JSON.parse(`!{data}`);