<!DOCTYPE html>
  html(lang="en")
    head
      meta(charset='utf-8')
      title Winterheart
      meta(name='description' content='Winterheart is a .... Jørn Rønnau')
      meta(name='viewport' content='width=device-width, initial-scale=1')
      //- script(src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js')
      //- link(href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet')
      link(href='../css/extraFonts.css' rel='stylesheet')
      link(href='../css/grid.css' rel='stylesheet')
      link(href='../css/style.css' rel='stylesheet')
      //- link(href='../css/myMapbox.css' rel='stylesheet')
      //- link(href='../css/galleryOverlay.css' rel='stylesheet')
      link(href='../css/adminStyle.css' rel='stylesheet')
      link(rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png')
      link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
      link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
      link(rel='manifest' href='/site.webmanifest')
      link(rel='mask-icon' href='/safari-pinned-tab.svg' color='#5bbad5')
      meta(name='msapplication-TileColor' content='#00a300')
      meta(name='theme-color' content='#ffffff')
      script(src='https://unpkg.com/@supabase/supabase-js')
      // script(src='../indexTest.js' type='module' defer='')

    body
      #adminOverlay.shown
        .adminOverlayInside
          .Grid.Grid--gutters.Grid--full.large-Grid--fit
            .Grid-cell
              h2 Admin &rarr; Edit map point
          .Grid.Grid--gutters.Grid--full.large-Grid--fit
            //
              <div class="Grid-cell">
              <p>From this admin panel you can edit a single map point</p>
              </div>
            .Grid-cell.g1of1
              p
                | &larr;&nbsp;
                a(href='/admin') Back to overview
          .Grid.Grid--gutters.Grid--full.large-Grid--fit
            .Grid-cell.g1of1
              .fullWidthFormWrapper
                // Thumb	Title	Description	Time	Location (lat,lng)	Media (imgs + vid)	Made by	Edit
                form
                  // thumb
                  .rowThumb
                    .col-25
                      label(for='thumb') Thumb
                    .col-75
                      img.formThumb(src='../images/marker.png')
                    .col-25
                      label File:
                    .col-75
                      input(name='thumb' type='file' placeholder='Thumb')
                  // title
                  .row
                    .col-25
                      label(for='title') Title
                    .col-75
                      input(name='title' type='text' placeholder='Title here')
                  // description
                  .row
                    .col-25
                      label(for='title') Description
                    .col-75
                      textarea#w3review(name='w3review' rows='4' autocorrect='off' spellcheck='false')
                        | At w3schools.com you will learn how to make a website. They offer free tutorials in all web development technologies.
                  // time
                  .row
                    .col-25
                      label(for='time') Time
                    .col-75
                      input(name='time' type='text' placeholder='Time here')
                  // location
                  .rowDouble
                    .col-25
                      label(for='lat') Lat
                    .col-75
                      input(name='lat' type='text' placeholder='Location Lat here')
                    .col-25
                      label(for='lng') Lng
                    .col-75
                      input(name='lng' type='text' placeholder='Location Lng here')
                  // media Vids and imgs
                  .rowThumb
                    .col-25
                      label(for='videos') Media, videos
                    .col-75
                      img.formMediaThumb(src='../images/marker.png')
                    .col-25
                      label File:
                    .col-75
                      input(name='videos' type='file')
                  // media images
                  .rowThumb
                    .col-25
                      label(for='images') Media, images
                    .col-75
                      img.formMediaThumb(src='../images/marker.png')
                    .col-25
                      label(for='images') File:
                    .col-75
                      input(name='images' type='file')
                  // Made by
                  .row
                    .col-25
                      label(for='madeBy') Made by user
                    .col-75
                      input(name='madeBy' type='text' placeholder='username')
                  // Flagged
                  // https://www.w3schools.com/howto/howto_css_custom_checkbox.asp
                  .row
                    .col-25
                      label(for='flagged') Is flagged
                    .col-75
                      input(name='flagged' type='checkbox')
                  // submit
                  button.btnWrapper(type='submit') Save content


      // Header with menu
      // include mixins/admin/adminHeader.pug
      // +adminHeader()

      script. 
        window.addEventListener("DOMContentLoaded", function() {
          let data = JSON.parse(`!{data}`);
          console.log("data:", data);
        })