<!DOCTYPE html>
  html(lang="en")
    head
      meta(charset='utf-8')
      title Winterheart
      meta(name='description' content='Winterheart is a .... Jørn Rønnau')
      meta(name='viewport' content='width=device-width, initial-scale=1')
      //- script(src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js')
      //- link(href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet')
      link(href='./css/extraFonts.css' rel='stylesheet')
      link(href='./css/grid.css' rel='stylesheet')
      link(href='./css/style.css' rel='stylesheet')
      //- link(href='./css/myMapbox.css' rel='stylesheet')
      //- link(href='./css/galleryOverlay.css' rel='stylesheet')
      link(href='./css/adminStyle.css' rel='stylesheet')
      link(rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png')
      link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
      link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
      link(rel='manifest' href='/site.webmanifest')
      link(rel='mask-icon' href='/safari-pinned-tab.svg' color='#5bbad5')
      meta(name='msapplication-TileColor' content='#00a300')
      meta(name='theme-color' content='#ffffff')
      style.
        /* LOADER css - styling from codepen: https://codepen.io/Elbone/pen/sezjI */
        @-webkit-keyframes loading { to {-webkit-transform: rotate(360deg); } }
        @-moz-keyframes loading { to {-moz-transform: rotate(360deg); } }
        @-ms-keyframes loading { to {-ms-transform: rotate(360deg); } }
        @keyframes loading { to {transform: rotate(360deg); } }
        #loadingScreen {
        position: fixed;
        z-index: 9999;
        inset: 0;
        background-color: darkgreen;
        opacity: 1.0;
        transition: opacity 200ms ease;
        }
        #loadingScreen.hidden {
        opacity: 0.0;
        pointer-events: none;
        }
        #loading {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -20px 0 0 -20px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: transparent;
        border-top: 5px solid rgba(255,255,255,0.92);
        border-right: 5px solid rgba(255,255,255,0.92);
        border-bottom: 5px solid rgba(255,255,255,0.35);
        border-left: 5px solid rgba(255,255,255,0.35);
        -webkit-animation: loading 1.2s infinite linear;
        -moz-animation: loading 1.2s infinite linear;
        -ms-animation: loading 1.2s infinite linear;
        animation: loading 1.2s infinite linear;
        }
        .loadText {
        position: absolute;
        top: 50%;
        left: 50%;
        padding-top: 25px;
        transform: translate(-50%, 0);
        color: rgba(255,255,255,0.92);
        }
      script(src='https://unpkg.com/@supabase/supabase-js')
      script(src='./js/adminApp.js' type='module' defer='')

    body
      // loading screen
      #loadingScreen.hidden
        #loading
        .loadText Loading app ...
      // ****************************************************************
      // overlay for info and app functions like upload etc
      #adminOverlay.shown
        .adminOverlayInside
          .Grid.Grid--gutters.Grid--full.large-Grid--fit
            .Grid-cell
              h2 Register
          .Grid.Grid--gutters.Grid--full.large-Grid--fit
            .Grid-cell.g1of1
              p Register new user
              form.loginForm(action='/register' method='POST')
                .row
                  div
                    label(for='username') Username
                  div
                    input(name='username' id="username" type='text' placeholder='Username' size='35')
                .row
                  div
                    label(for='email') Email
                  div
                    input(name='email' id="email" type='text' placeholder='email' size='35')
                .row
                  div
                    label(for='password') Password
                  div
                    input(name='password' id="password" type='password' placeholder='Password' size='35')
                .row
                  div
                    button(type='submit') Register
                  div &nbsp;