

:root {
  --text-color: rgba(0,0,0,0.86);
  --boxShadow-color: rgba(0,0,0,0.25);
  --overlay-bgcolor: darkgreen;
  --overlay-textColor: rgba(255,255,255,0.96);
  --admin-bgcolor: white;
  --admin-textColor: #222;
}


#adminOverlay {
  position: fixed;
  inset: 0; /* 1rem 1rem 4.5rem 1rem; /* 1rem 1rem 3.5rem 1rem; */
  box-shadow: 0px 2px 12px var(--boxShadow-color);
  padding: 2rem;
  background-color: var(--admin-bgcolor);
  color: var(--admin-textColor);
  border-radius: 0.35rem;
  z-index: 9999; /* 9000; */
  opacity: 1.0; /* 0; */
  transition: none;
  overflow-y: auto; /* scroll; */
}


#resultMessage {
  display: block;
}
#resultMessage.hidden {
  display: none;
  visibility: hidden;
}


/* Table setup */
.tableWrapper {
  display: block;
  width: 100%;
  overflow-x: auto;
  border: 1px solid red;
}
.adminOverlayInside table {
  width: 100%;
  border: 1px solid var(--admin-textColor);
  border-collapse: collapse;
  border-spacing: 0;
}

.adminOverlayInside th,
.adminOverlayInside td {
  padding: 1em;
  text-align: left;
  border: 0px;
  border-bottom: 1px solid #ddd;
}

.adminOverlayInside tr:last-of-type td {
  border-bottom: 1px solid black;
}


.adminOverlayInside tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}
.adminOverlayInside tbody tr:hover {
  background-color: lightgreen;
}

.adminOverlayInside input,
.adminOverlayInside button {
  font-family: monospace;
  font-size: 0.75em;
  padding: 1em;
  text-align: left;
  border: 1px solid var(--admin-textColor);
  border-radius: 3px;
}

/* full width form warpper *********************************** */
.fullWidthFormWrapper {
  border: 0px; /* 1px solid var(--admin-textColor); */
  border-top: 1px solid var(--admin-textColor);
  background-color: transparent; /* #f2f2f2; /* transparent; */
  padding: 0px; /* 0.5em 0px 0px 0px; /* 0.5em; */
}

.fullWidthFormWrapper .row {
  display: grid;
  grid-template-columns: 11ch 1fr;
  padding: 0.5em 1em;
  border: 1px solid var(--admin-textColor);
  border-top: 0px;
}
/*
.fullWidthFormWrapper .row:nth-child(even) {
  background-color: #f2f2f2;
}
*/

.fullWidthFormWrapper .rowThumb {
  display: grid;
  grid-template-columns: 11ch max-content 11ch 1fr;
  padding: 0.5em 1em;
  border: 1px solid var(--admin-textColor);
  border-top: 0px;
}
.fullWidthFormWrapper .rowDouble {
  display: grid;
  grid-template-columns: 11ch 1fr 11ch 1fr;
  padding: 0.5em 1em;
  border: 1px solid var(--admin-textColor);
  border-top: 0px;
}

.fullWidthFormWrapper input,
.fullWidthFormWrapper button,
.fullWidthFormWrapper textarea,
.fullWidthFormWrapper select {
  font-size: 1em; /* 0.8em; */
  line-height: 1.23em;
  padding: 0.8em; /* 1em; */
  text-align: left;
  border: 1px solid rgba(0,0,0,0.05); /* var(--admin-textColor) */;
  border-radius: 3px;
}
.fullWidthFormWrapper input[type="text"],
/* .fullWidthFormWrapper input[type="file"], */
.fullWidthFormWrapper textarea,
.fullWidthFormWrapper select {
  font-family: monospace;
  width: 100%;
  background-color: #f2f2f2;
}
input::placeholder {
  font-style: italic;
  font-family: monospace;
  text-transform: capitalize;
  color: var(--admin-textColor);
}
input:read-only,
input:disabled {
  background-color: var(--admin-bgcolor) !important;
}

.fullWidthFormWrapper input[type="checkbox"] {
  border: 1px solid red !important;
}

.fullWidthFormWrapper label {
  font-size: 1em; /* 0.75em; */
  padding: 1em 1em 1em 0;
  text-align: left;  
  display: inline-block;
  line-height: 1em;
}

.fullWidthFormWrapper .rowThumb div:nth-child(3) { text-align: right; }
.fullWidthFormWrapper .rowThumb div:nth-child(3) label {
  padding: 1em 1em 1em 1em;
}
.fullWidthFormWrapper .rowDouble div:nth-child(3) { text-align: right; }
.fullWidthFormWrapper .rowDouble div:nth-child(3) label {
  padding: 1em 1em 1em 1em;
}

.fullWidthFormWrapper .btnWrapper {
  margin: 1em 0px 0px 1em;
}


/* formThumb */
img.formThumb {
  max-height: 100px;
  width: auto;
}

img.formMediaThumb {
  max-height: 60px;
  width: auto;
}


/* ************************************************************************************ */
/* LOGIN form */


.loginForm {
  max-width: 700px;
}

.loginForm .row {
  display: grid;
  grid-template-columns: 10ch 1fr;
  width: 100%;
  margin-bottom: 1em;
  justify-content: left;
  align-items: center;
}

.loginForm button {
  text-align: center;
}


/* ************************************************************************************ */
/* ADMIN LINKS */
ul.adminLinks {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-columns: max-content max-content max-content;
  grid-gap: 0px 1.5em;
  margin-bottom: 1.5em;
}

ul.adminLinks li {
  /* border: 1px solid pink; */
}

ul.adminLinks li a {
  font-size: 1.5em;
  text-decoration: none;
  color: tomato;
}
/* active class */
ul.adminLinks li a.active {
  color: var(--text-color);
  text-decoration: line-through;
}





/* ************************************************************************************ */
/* ************************************************************************************ */
/* ************************************************************************************ */
/* ************************************************************************************ */


@media screen {


  /*
  .galleryOverlayInside {
    height: calc(100vh - 8.5rem);
  }
  .galleryNavWrapper .galleryNextBtnWrapper {
    right: -1rem;
    z-index: 9999;
  }
  .galleryNavWrapper .galleryPrevBtnWrapper {
    left: -1rem;
    z-index: 9999;
  }
  */


}


/* ************************************************************************************ */
/* LARGER */

@media screen and (min-width: 1024px) {

  /*
  .galleryOverlayInside {
    height: calc(100vh - 10.5rem);
  }

  .galleryNavWrapper .galleryNextBtnWrapper {
    right: -1.5rem;
  }
  .galleryNavWrapper .galleryPrevBtnWrapper {
    left: -1.5rem;
  }
  */

}



