
:root {
  --text-color: rgba(0,0,0,0.86);
  --boxShadow-color: rgba(0,0,0,0.25);
  --overlay-bgcolor: darkgreen;
  --overlay-textColor: rgba(255,255,255,0.96);
}


*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

::-webkit-scrollbar {
  width: 0.75rem;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.35);
  border: none;
}
::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: transparent;
}

/* selection */
::-moz-selection { /* Code for Firefox */
  color: white;
  background: #111;
}
::selection {
  color: white;
  background: #111;
}


#errorMessageWrapper {
  display: block;
  /*
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  right: 0px;
  */
}
.errorMessage {
  text-align: left;
  background: orange;
  border: 1px solid tomato;
  padding: 1.2em 1.35em;
  margin-bottom: 1.35em;
}



/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* SITE SPECIFIC styling ++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%;
  width: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  color: var(--text-color);
  font-family: 'Inter', sans-serif;
  font-size: 21px;
  line-height: 1.375em;
  background-color: var(--overlay-bgcolor);
  height: 100%; /* vh; */
  overflow: hidden;
}

.pageWrapper {
  display: grid;
  /* grid-template-rows: 1fr 4rem; */ /* handled by media queries */
  height: 100%;
  overflow: hidden;
  /* border: 5px solid pink; */
}

.pageWrapper > * {
  /* border: 5px solid red; */
}



/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* TYPOGRAPHY */

h1, h2, h3, h4, h5, h6 {
  margin: 0px 0px 1em 0px;
  line-height: 1.35em;
  font-weight: 600;
}
h1 {
  font-size: 2.25em;
  line-height: 1.1em;
}
h2 {
  font-size: 1.875em; /*  1.75em; */
  line-height: 1.15em;
  margin-bottom: 1.35em;
}
h3 {
  font-size: 1.375em;
}

p {
  margin: 0px 0px 1.325em 0px;
}

.centered { text-align: center; }


/* ************************************************************************ */
/* Header nav in bottom of page */


header {
  background-color: darkgreen; /* white; */
  box-shadow: -1px 0px 12px rgba(0,0,0,0.25);
  z-index: 9000;
}

header .inside {
  position: relative;
  display: grid;
  grid-template-columns: max-content max-content 1fr max-content;
  align-items: center; /* end; */
  /* justify-items: center; */
  /* justify-content: space-between; */
  user-select: none;
}

/* ************************************************************************ */
/* LOGOWRAPPER */

.logoWrapper {
  display: block;
  padding: 0.35em 1em 0.5em 1em;
}

h1.logo {
  margin: 0px;
  font-size: 1.35em;
  line-height: 1em;
  color: var(--overlay-textColor);
  font-weight: 500;
  letter-spacing: 0.0135em;
}

h1.logo span#bigLogo {
  padding: 0px 2em 0px 0px;
}
h1.logo span#smallLogo {
  padding: 0px 1em 0px 0px;
}


/* ************************************************************ */
.maxOverlayInsideWidth {
  max-width: 1400px;
  margin: 0px auto;
}

figure {
  margin: 0px;
}

figcaption {
  font-size: 0.85em;
  opacity: 0.75;  
  margin: 0.5em 0px 1.5em 0px;
  text-align: center;
}





/* ************************************************************************************ */
/* ************************************************************************************ */
/* ************************************************************************************ */
/* ************************************************************************************ */

@media screen {

  body {
    font-size: 18px;
  }

  .pageWrapper {
    grid-template-rows: 1fr; /* 1fr 3.25rem; */
  }  

  header .inside {
    grid-template-columns: max-content 1fr 0px max-content;
    height: 3.25rem;
  }  

  h1.logo span#bigLogo {
    display: none;
    cursor: pointer;
  }
  h1.logo span#smallLogo {
    display: block;
    cursor: pointer;
  }  
 
}


/* ************************************************************************************ */
/* LARGER */

@media screen and (min-width: 400px) {



}

/* ************************************************************************************ */
/* LARGER */

@media screen and (min-width: 800px) {

  body {
    font-size: 19px;    
  }


  header .inside {
    grid-template-columns: max-content 0px 1fr max-content;
  }  

  h1.logo span#bigLogo {
    display: block;
  }
  h1.logo span#smallLogo {
    display: none;
  }  


}

/* ************************************************************************************ */
/* LARGER */

@media screen and (min-width: 1024px) {

   

  header .inside {
    height: 3.5rem;
  }


}


/* ************************************************************************************ */
/* LARGER */

@media screen and (min-width: 1600px) {

  body {
    font-size: 20px;    
  }

}