//- https://github.com/pugjs/pug/issues/166 - active menus
//- Declaration (menuItem.pug)
mixin aboutOverlay()
  // ****************************************************************
  // ABOUT overlay
  #aboutOverlay
    .maxOverlayInsideWidth
      .Grid.Grid--gutters.Grid--full.large-Grid--fit
        .Grid-cell
          h2.centered About the <em>Heart of Winter</em>
      .Grid.Grid--gutters.Grid--full.large-Grid--fit
        .Grid-cell.g1of2
          <h3>What is the <em>Heart of Winter?</em></h3>
          <p>Winterheart is a long series of invisible lines that spread across the globe. It is about two spiral lines, which combined form heart shapes within each other. See the design above on Google earth. The idea is that these lines are made visible by people who want to participate in this project.</p>
          <figure>
            <img src="./images/aboutWH/Skjoldhøjskolen.jpg" alt="This is an image description of the image above" title="This is an image description of the image above" loading="lazy">
            <figcaption>This is an image description of the image above</figcaption>
          </figure>
        .Grid-cell.g1of2
          <h3>Creative potential</h3>
          <p>The Heart of Winter has incredible creative potential in terms of ways to make the lines visible. You can plant trees, lay stones, line up and much more - and then take a picture and put it on the site with comments. WINTERHEART is characterized by linking countries, places and people together via activities on the Heart Lines - across borders, religion, political beliefs, age, gender, etc.</p>
          <figure>
            <img src="./images/aboutWH/WHMAP.jpg" alt="This is an image description of the image above" title="This is an image description of the image above" loading="lazy">
            <figcaption>This is an image description of the image above</figcaption>
          </figure>
      .Grid.Grid--gutters.Grid--full.large-Grid--fit
        .Grid-cell.g1of2
          p.centered *
      .Grid.Grid--gutters.Grid--full.large-Grid--fit
        .Grid-cell.g1of2
          <h3>The history behind the <em>Heart of Winter</em></h3>
          <p>Vinterens Hjerte started in practice in 2003 by planting yew trees on the heart lines in Aarhus. At that time Jørn Rønnau received funds from Aarhus Municipality's "Green Fund" for the purchase of approx. 1,000 yew trees. They were given to the Aarhusians who lived on the heart lines and who wanted to actively participate in the creation of the <em>"Heart of Winter"</em> by planting the trees on the line in their gardens, institutions or companies, and then posting pictures of their contribution on Winterheart's website.</p>
          <p>The website is structured so that the participants themselves can post their own photos and stories about their participation on the website as inspiration for other future participants.</p>
        .Grid-cell.g1of2
          <h3>The first collaborators</h3>
          <p>In addition to all the Aarhusians who have participated in the planting&mdash;i.a. students from <em>Jydsk Pædagog-Seminarium</em>, <em>Skjoldhøjskolen</em>, <em>Langkær Gymnasium</em>, as well as students of art and drama from <em>Århus Cathedral School</em>&mdash;residents' and owners' associations in Tilst and Skjoldhøjparken have also contributed. This part of the project was supported by: <em>Århus Municipality's Cultural Development Fund</em>, <em>Århus Municipality's Green Fund</em>, <em>HUSET</em> in Århus and <em>Silkeborg State Forest District</em>.</p>