//- https://github.com/pugjs/pug/issues/166 - active menus
//- Declaration (menuItem.pug)
mixin galleryOverlay()
  #galleryOverlay.shown
    .galleryOverlayInside
      // The slideshow content
      .galleryMediaWrapper
        .galleryItem(data-index='0' data-status='active')
          .imgWrapper
            img(src='../images/galleryDemo/1.jpg' loading="lazy")
          .captionWrapper
            | This is the first image in the gallery
            span.counterNumbers (1/4)
        .galleryItem(data-index='1' data-status='inactive')
          .imgWrapper
            img(src='../images/galleryDemo/2.jpg' loading="lazy")
          .captionWrapper
            | This is image 2
            span.counterNumbers (2/4)
        .galleryItem(data-index='2' data-status='inactive')
          .imgWrapper
            img(src='../images/galleryDemo/3.jpg' loading="lazy")
          .captionWrapper
            | This is another image in the image gallery
            span.counterNumbers (3/4)
        .galleryItem(data-index='3' data-status='inactive')
          .imgWrapper
            video(controls='')
              // <source src="../videos/Pexels Videos 1943483.webm" type="video/webm">
              source(src='../videos/Pexels Videos 1943483.mp4' type='video/mp4')
              |                   Video is not supported
          .captionWrapper
            | This is a video for you to see
            span.counterNumbers (4/4)
    // navigation
    .galleryNavWrapper
      .galleryNavBtn.galleryPrevBtnWrapper.unselectable
        a#galleryPrevBtn &larr;
      .galleryNavBtn.galleryNextBtnWrapper.unselectable
        a#galleryNextBtn &rarr;
    // counter
    .galleryCounterWrapper
      span#currentIndex _
      | &nbsp;/ 4

