//- https://github.com/pugjs/pug/issues/166 - active menus
//- Declaration (menuItem.pug)
mixin mediaOverlay()
  #mediaOverlay
    .Grid.Grid--gutters.Grid--full.large-Grid--fit
      .Grid-cell
        h2 Share Media
        p.maxTextWidth Upload images and videos to the map by filling out the form below.<br/>If the green light is on, you are standing on the Winterheart line, and you can then share content from this point!
    .Grid.Grid--gutters.Grid--full.large-Grid--fit
      .Grid-cell
        form(action='/all-done' method='POST' enctype='multipart/form-data' class="clientFormWrapper" id="mediaForm")
          .row
            label(for='myMedia') Files
            input(type='file' name='myMedia' id="myMedia" multiple='')
          .rowHidden
            div
            div(class="alert" id="alertFiles")
          .row
            label(for='title') Title
            input(type='text' name='title' id="title")           
          .row
            label(for='text') Text
            textarea(type='text' name='text' id="text" rows='5' spellcheck='false' autocorrect='off')
          .row
            label(for='email') Email
            input(type='text' name='email' id="email")
          .rowHidden
            div
            div(class="alert" id="alertEmail")       
          .rowCenter
            button(type='submit' id='submitMediaBtn') Upload content to map
            <input type="hidden" id="lng" name="lng" value="-1">
            <input type="hidden" id="lat" name="lat" value="-1">
            <input type="hidden" id="accuracy" name="accuracy" value="-1">
        // upload progress box below
        #uploadProgressWrapper
          #filesOverviewWrapper
          #reloadBtnWrapper