//- https://github.com/pugjs/pug/issues/166 - active menus
//- Declaration (menuItem.pug)

mixin menuItem(activePath, elmId, title)
  li
    a(id=elmId, class=(activePath == title ? 'chosen' : ''))= title