//- https://github.com/pugjs/pug/issues/166 - active menus
//- Declaration (menuItem.pug)
mixin mobileMenuOverlay()
  #mobileMenuOverlay
    ul
      li
        a#mobileMenuAboutBtn About
      li
        a#mobileMenuZoomToUserBtn Zoom to You
      li
        a#mobileMenuMediaBtn Share media