//- https://github.com/pugjs/pug/issues/166 - active menus
//- Declaration (menuItem.pug)
mixin onlineMarkerOverlay()
  #onlineMarkerOverlay
    .Grid.Grid--gutters.Grid--full.large-Grid--fit
      .Grid-cell
        h2.centered Online marker
    .Grid.Grid--gutters.Grid--full.large-Grid--fit
      .Grid-cell.g1of1
        <div class="onlineMarkerDemoWrapper">
          <div class="row">
            // loading
            <div class="onlineDemoMarker loading">
              <a>
                <div id="onlineDemoLoading"></div>
              </a>
            </div>
            // loading
            <div class="onlineDemoMarker inside">
              <a>&nbsp;</a>
            </div>
            // loading
            <div class="onlineDemoMarker outside">
              <a>&nbsp;</a>
            </div>
          </div>
          // descriptions
          <div class="row">
            <div>Loading</div>
            <div>On the lines</div>
            <div>Not on lines</div>
          </div>
        </div>

    .Grid.Grid--gutters.Grid--full.large-Grid--fit
      .Grid-cell.g1of2
        p The online marker on the bottom right of your screen, shows you if you are standing on the <em>Heart of Winter</em> lines. It is only possible to share media from your device, when you are standing one of theses lines.<p>
        <p>When you are located on the line, you can upload images or videos from your location. This uploaded media will be available on the <em>Heart of Winter</em> map, for all to see.</p>
      .Grid-cell.g1of2
        p The marker will indicate that you are on the line by turning green. If the marker is orange, you are no longer on the line. If the marker is spinning, it means that your position reading is too inaccurate. You can hopefully change this by moving around, preferably away from any obstructions cluttering your GPS signal.

