//- https://github.com/pugjs/pug/issues/166 - active menus
//- Declaration (menuItem.pug)
mixin adminHeader(activePath)
  header
    .inside
      // logo
      .logoWrapper
        h1.logo
          span#bigLogo
            a#bigLogoBtn Winterheart
          span#smallLogo
            a#smallLogoBtn W